{% extends 'layout.html' %}

{% block content %}
<form action="/contacts/{{ contact.id }}/edit" method="post">
    <fieldset>
        {% csrf-field %}
        <legend>Contact Values</legend>
        <p>
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email"
                   hx-get="/contacts/validate-email"
                   hx-target="next .error"
                   hx-trigger="change, keyup delay:200ms changed"
                   value="{{ contact.email }}">
            <span class="error">{{ errors.email }}</span>
        </p>
        <p>
            <label for="first">First Name</label>
            <input name="first" id="first" type="text"
                   placeholder="First Name"
                   value="{{ contact.first }}">
            <span class="error">{{ errors.first }}</span>
        </p>
        <p>
            <label for="last">Last Name</label>
            <input name="last" id="last" type="text"
                   placeholder="Last Name"
                   value="{{ contact.last }}">
            <span class="error">{{ errors.last }}</span>
        </p>
        <p>
            <label for="phone">Phone</label>
            <input name="phone" id="phone" type="text" placeholder="Phone"
                   value="{{ contact.phone }}">
            <span class="error">{{ errors.phone }}</span>
        </p>
        <button>Save</button>
    </fieldset>
</form>
<button hx-delete="/contacts/{{contact.id}}/delete"
        hx-push-url="true"
        hx-confirm="Are you sure you want to delete this contact?"
        hx-headers='{"X-CSRF-Token": "{{csrf-token}}"}'
        hx-target="body">Delete Contact</button>
<p>
    <a href="/contacts/">Back</a>
</p>

{% endblock %}